.Logo{
  margin: 5px auto 0 auto;
  width: 23px;
  height: 175px;

  &__cls_1{fill:#665009}
  &__cls_2{fill:#9cde00}
  &__cls_3{fill:#e63a00}
  &__cls_4{fill:#fff}
  &__cls_5{fill:#dbcf21}
  &__cls_6{fill:#a39a19}
  &__cls_7{fill:#ffe433}
  &__cls_8{fill:#474747}
  &__cls_10,&__cls_9{fill:#22c7b8}
  &__cls_9{fill-rule:evenodd}
}
